html { 
    background-image: url('/assets/main.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;
}

.background-container {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 80rem;
    /* Zoom animation support */
    transition: transform 600ms ease;
    transform-origin: center center;
    z-index: 2;
}

/* Applied when clicking the laptop to zoom */
.background-container.zoom-in {
    transform: scale(2.1);
}

.background-container img {
    width: 100%;
    height: auto;
}

.laptop-container {
    padding: 0;
    margin: 0;
    width: 450px;
    cursor: pointer;
    position: absolute;
    left: 407px;
    bottom: 14px;
    /* Zoom animation support */
    transition: transform 600ms ease;
    transform-origin: center center;
    z-index: 2;
}

/* Applied when clicking the laptop to zoom */
.laptop-container.zoom-in {
    transform: scale(2.1);
}

.laptop-container img {
    width: 100%;
    height: auto;
}

.window-container {
    padding: 0;
    margin: 0;
    width: 900px;
    cursor: pointer;
    position: absolute;
    bottom: 200px;
    left: 183px;
    /* Zoom animation support */
    transition: transform 600ms ease;
    transform-origin: center center;
    z-index: 2;
}

/* Applied when clicking the laptop to zoom */
.window-container.zoom-in {
    transform: scale(1.85);
}

.window-container img {
    width: 100%;
    height: auto;
}

#computer-screen {
    width: 100%;
    height: 100vh;
    width: 705px;
    height: 470px;
    left: 290px;
    top: 40px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden;
    background-image: url('/assets/skz-wallpaper.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 3px;
    width: 100%;
    height: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    color: #000000;
    position: absolute;
}

#navbar p {
    font-weight: 700;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 12px;
    border-radius: 16px;
    margin: 0;
    position: absolute; 
}

#name {
  left: 300px;
}

#timeElement {
  left: 510px;
}

#pomodoro {
    border: solid black 1px;
    width: 310px;
    border-radius: 15px;
    padding: 5px;
    padding-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    box-shadow: black 4px 4px 8px;
    p {
    font-family: 'Caveat Brush', cursive;
    margin: 0;
    }
}

#pomoheader {
    margin: 0;
    cursor: grab;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    /*border-bottom: rgb(0, 0, 0) 1px solid;*/
    margin-bottom: 5px;
    justify-content: space-between;
    
    p {
        margin: 0;
        color: #252121;
        font-weight: 500;
    }
}

#pomoheader.grabbing {
    cursor: grabbing;
}

.closebtn { 
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.25);
    background-color: #ec6b5e;
    border-radius: 16px;
    margin-left: 0px;
    margin-top: 6px;
}

.window {
  border: solid;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: absolute;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.125);
}

.windowheader {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: space-between;
  margin-top: 8px;
}

.headertext {
  margin: 0px;
  color: #fff;
  font-weight: 500
}

#todolist {
    border: solid black 1px;
    width: 310px;
    border-radius: 15px;
    padding: 16px;
    padding-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    box-shadow: black 4px 4px 8px;
    p {
    font-family: 'Caveat Brush', cursive;
    margin: 0;
    }
}

#todoheader {
    margin: 0;
    cursor: grab;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    /*border-bottom: rgb(0, 0, 0) 1px solid;*/
    margin-bottom: 5px;
    justify-content: space-between;
    
    p {
        margin: 0;
        color: #252121;
        font-weight: 500;
    }
}

#todoheader.grabbing {
    cursor: grabbing;
}

#desktopApps {
    div {
        text-align: center; 
        padding: 16px; 
        filter: drop-shadow(0 0 4px rgb(90, 90, 90)); 
        width: fit-content;

        #pomo-icon {
            width: 64px; 
            height: 64px; 
            border-radius: 16px;
            cursor: pointer;
        }

        #todo-icon {
            width: 64px; 
            height: 64px; 
            border-radius: 16px;
            cursor: pointer;
        }

        p {
            margin: 0px; 
            color: #fff; 
        }
    }
}

.contents {
    background-color: antiquewhite;
    border-radius: 12px;
    color: black;
}